body {
    font-family: "Verdana", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.page-header {
    background-color: #333;
    height: 40px;
    padding-top: 10px;
    text-align: center;
}

.page-header a {
    color: #f2f4f6;
    display: inline-block;
    padding: 20px;
}

.page-header a:hover {
    background-color: #444;
    text-decoration: none;
}

.page-main {
    background-color: #eeeef1;
    color: #222222;
    min-height: 595px;
}

.page-footer{
    background-color: #333;
    color: #f2f4f6;
    height: 40px;
    padding: 10px;
    text-align: center;
}

.btn {
    display: block;
    background: lightgray;
    padding: 10px;
    color: #333;
    border-radius: 5px;
}

.alert-danger { background-color: rgba(85, 0, 0, 0.6); }

.flexbox { display: flex; }

.flex_r_nowr { flex-flow: row nowrap; }

.flex_c_nowr { flex-flow: column nowrap; }

.flex_jcspacebetween_aicenter { justify-content: space-between; align-items: flex-end; }

.user_box { 
    border: 1px solid lightgray; 
    padding: 10px;
    width: 12%;
    background-color: #f2f4f6;
}

.main_content {
    padding: 10px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAMAAAApB0NrAAAABlBMVEX///+pqalTpKl9AAAAAnRSTlMAGovxNEIAAAAdSURBVDjLY2AAAUaG4UYxDDsfjfp91O+jfqfE7wCzpQCw/dq+qQAAAABJRU5ErkJggg==");
}

.form { margin: auto; table-layout: fixed; width: 500px; }

.form section { margin: 20px; }

.form_field {
    border-radius: 5px;
    border: 1px solid rgb(189, 177, 177);
    box-sizing: border-box;
    outline: none;
    padding: 10px;
    width: 100%;
}

.submit {
    background: rgb(255, 100, 0);
    border-color: rgb(200, 50, 0);
    border-radius: 10px;
    color: whitesmoke;
    cursor: pointer;
    margin-top: 15px;
    padding: 10px;
}

.average-table {
    margin: auto;
    table-layout: fixed;
    width: 90%;
}
