<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/stylesheet.css">
    <title>{{ title }}</title>
</head>
<body>
    <header class="page-header flexbox">
        <div class="flexbox flex_jcspacebetween_aicenter">
            <div class="page-header-nav">
                <a href="">На главную</a>
                <!--{% if current_user.is_authenticated %}
                    <a href="">Задания</a>
                {% endif %} -->
                <a href="">Группы</a>
                <a href="">Пользователи</a>
            </div>
            <div class="page-header-nav">
                <a href="">Личный кабинет</a>
            </div>
        </div>
    </header>
    <main class="page-main">
        {% block content %}{% endblock %}
    </main>
    <footer class="page-footer"></footer>
</body>
</html>
