{% extends "base.html" %}

{% block content %}
    {% from "macros/render_field.html" import render_field %}
    <form method="post" class="form" enctype="multipart/form-data" novalidate>
        <h1 style="text-align: center;">Редактировать задание для "{{ task.group.name }}"</h1>
        {{ form.hidden_tag() }}
        {{ form.csrf_token() }}
        {{ render_field(form.name, class="form-field") }}
        {{ render_field(form.content, class="form-field") }}
        {{ render_field(form.file, class="form-field") }}
        <section>
            <div class="alert-danger">{{ message }}</div>
            {{ form.submit(class='blue-btn btn submit') }}
        </section>
    </form>
{% endblock %}