{% extends "base.html" %}

{% block content %}
    {% from "macros/render_field.html" import render_field %}
    <form method="post" class="form" novalidate>
        <h1 style="text-align: center;">Добавить факультатив</h1>
        {{ form.hidden_tag() }}
        {{ form.csrf_token() }}
        {{ render_field(form.name, class="form-field")}}
        {{ render_field(form.leader_id, class="form-field")}}
        {{ render_field(form.info, class="form-field")}}
        <section>
            <div class="alert-danger">{{ message }}</div>
            {{ form.submit(class='submit') }}
        </section>
    </form>
{% endblock %}