{% extends "base.html" %}

{% block content %}
    <table class="average-table">
        <caption>Факультативы проекта</caption>
        <thead>
            <th>Название</th>
            <th>Руководитель</th>
            <th>Кол-во участников</th>
        </thead>
        <tbody>
            {% for group in groups %}
                <tr>
                    <td><a href="/group/{{ group.id }}">{{ group.name }}</a></td>
                    <td>{{ group.leader.name }} {{ group.leader.surname }} (<a href="/user/{{ group.leader_id }}">#{{ group.leader_id }}</a>)</td>
                    <td>{{ group.users_num }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% if bool_userbox %}
{% block userbox %}
    <h2>Инструменты</h2>
    {% from 'macros/render_field.html' import render_field %}
    {% if current_user.is_authenticated and current_user.type < 3 %}
    <a href="/add_group" class='btn'>
        <img src="/static/images/add_icon1.png" alt="">Создать новый факультатив</a>
    {% endif %}
    <form method="POST" class="mini-form" novalidate>
        {{ form.hidden_tag() }}
        {{ form.csrf_token() }}
        {% if current_user.is_authenticated %}
        {{ render_field(form.filter_by, class="form-field") }}
        {% endif %}
        {{ render_field(form.sort_by, class="form-field") }}
        <section>
            <div class="alert-danger">{{ message }}</div>
            {{ form.submit(class='blue-btn submit') }}
        </section>
    </form>
{% endblock %}
{% endif %}