{% extends "base.html" %}

{% block content %}
    <div class="infolist">
        <div class='flexbox flex_c_nowr'>
            <div>
                <img src="/{{ group.photo.path if group.photo else 'static/images/none_image.png'}}" height="200px">
                <div class="flexbox flex_jcspacebetween_aicenter">
                    <h2>{{ group.name }}</h2>
                    {% if current_user.id == group.leader_id %}
                        <a href="/edit_group/{{ group.id }}" class='link'>
                            <img src="/static/images/edit_icon1.png" height='18px'>Редактировать</a>
                    {% endif %}
                </div>
                <h4>Руководитель - <a href="/user/{{ group.leader_id }}" class='link'>{{ group.leader.name }} {{ group.leader.surname }}</a></h4>
                <h4>#id <span style='color: red'>{{ group.id }}</span></h4>
                {% if group.info %}
                    {% for line in group.info.split('\n') %}
                        <p>{{ line }}</p> 
                    {% endfor %}
                {% else %}
                    <p>Нет информации о факультативе</p>
                {% endif %}
            </div>
            {% if current_user.is_authenticated and current_user.id == group.leader_id and group.photo %}
            <div>
                <a href="/del_group_photo/{{ group.id }}" class='link'><i>Удалить фотографию</i></a>
            </div>
            {% endif %}
            <br>
            <div>
                <h4>Участники: </h4>
                {% for user in users %}
                    <a href="/user/{{ user.id }}" class="link">{{ user.name }} {{ user.surname }}</a>{{ ', ' if not loop.last }}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if current_user in users %}
    <div class="infolist">
        <h3>Лист заданий</h3>
        <ul>
            {% for task in group.tasks %}
            <li><span style="color: rgba(0, 0, 0);">{{ task.name }} 
                {% if group.leader_id == current_user.id %}
                (<a href='/edit_task/{{ task.id }}' class='link'>ред.</a>; <a href='/del_task/{{ task.id }}' class="link">удал.</a>)</span>
                {% endif %}
                <span style="color: rgba(120, 120, 120);">
                {% for line in task.content.split('\n') %}
                    <p>{{ line }}</p> 
                {% endfor %}
                {% if task.file %}
                    <p>Прикрепленный файл: <a href="/{{ task.file.path }}" class='link'>{{ task.file.path.rsplit('\\', 1)[-1] }}</a></p>
                {% endif %}
                </span>
            </li>
            {% else %}
                <p><i>Пока заданий нет</i></p>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endblock %}

{% if bool_userbox %}
{% block userbox %}
    <h2>Инструменты</h2>
    {% if current_user.id == group.leader_id %}
        <a href="/add_task/{{ group.id }}" class='btn'>Добавить задание для участников</a>
    {% endif %}
    {% if current_user in users and current_user.id != group.leader_id %}
        <a href="/leave_group/{{ group.id }}" class='btn red-btn'>Выйти из факультатива</a>
    {% elif current_user not in users %}
        <a href="/join_group/{{ group.id }}" class='btn blue-btn'>Вступить в факультатив</a>
    {% endif %}
    {% if current_user.id == group.leader_id or current_user.type <= 1 %}
        <a href="/del_group/{{ group.id }}" class='btn red-btn'>Удалить факультатив</a>
    {% endif %}
{% endblock %}
{% endif %}