{% extends "base.html" %}

{% block content %}
<div class="infolist">
    <h2>Факультативы - проект, построенный на python с использованием flask</h2>
    <i>Весь исходный код можно посмотреть по <a href="https://github.com/Super-Cereal/status-false" class='link'>ссылке</a>, и все используемые модули можно увидеть в файле requirements.txt</i>
    <br><br>
    <h3>Все возможности и особенности этого проекта</h3>
    <br>
    <ul style="line-height: 25px;">
        <li>Регистрация и авторизация пользователей + Разделение страниц сайта на приватные и общедоступные</li>
        <li>Зарегистрированный пользователь может управлять данными своего профиля, менять изображения на главной странице своего профиля</li>
        <li>
            Зарегистрированные пользователи делятся на три типа:
            <ol style="margin-left: 20px;">
                <li>Ученик - в самом низу пирамиды, он не может создать факультатив или быть назначен руководителем</li>
                <li>Учитель - может создать факультатив под своим руководством</li>
                <li>Администрация - может создать факультатив под руководством любого пользователя кроме ученика</li>
            </ol>
        </li>
        <li>
            Руководитель факультатива может:
            <ol style="margin-left: 20px;">
                <li>Удалить свой факультатив</li>
                <li>Редактировать его и изменять его изображение</li>
                <li>Создавать, редактировать и удалять задания для участников факультатива, прикрепить любой файл к заданию</li>
            </ol>
        </li>
        <li>
            Реализовано Api с минимальной общедоступной функциональностью:
            <ol style="margin-left: 20px;">
                <li>Получить информацию о пользователе/пользователях, зарегистрироваться</li>
                <li>Получить информацию о факультативе/факультативах</li>
            </ol>
        </li>
        <li>Можно отсортировать и отфильтровать все данные находящиеся на странице под свои нужды</li>
        <li>Базовая бизнес-логика:
            <ol style="margin-left: 20px;">
                <li>Ведется подсчет участников каждого факультатива</li>
                <li>При удалении пользователя все факультативы под его руководством самоликвидируются,
                    а папки с их файлами автоматически очищаются
                </li>
                <li>Вышестоящие типы пользователей имеют больше возможностей, так, администрация может удалить любой факультатив и любого пользователя; однако она не может редактировать чужие данные</li>
                <li>При вступлении в факультатив все задания, которые он предоставляет, отображаются в отдельной вкладке "Мои задания"</li>
            </ol>
        </li>
        <li>Большое колличество связанных сущностей, всего сущностей - 4, общее число связей - 5</li>
        <li>Есть сущность, способная управлять любыми типами файлов и изображений; каждая прочая сущность с ней связана</li>
        <li>У большинства сущностей есть отдельный файл с обработчиками адресов, так что поиск и исправление багов и недочетов осуществляется очень быстро</li>
        <li>Сайт защищен от csrf-аттак, различных иньекций, а так же манипуляций с именами подгружаемых файлов</li>
        <li style="color: red;"><span style="text-decoration: line-through">Из-за особенности системы безопасности, все файлы, подгружаемые на сайт, должны иметь английское название</span><br>
                            Файлы, подгружаемые на сайт могут иметь любое название
        </li>
    </ul>
    <br>
    <h3>Создатели</h3>
    <br>
    <ul>
        <li>Кучинский Егор</li>
    </ul>
</div>
{% endblock %}