{% extends "base.html" %}

{% block content %}
    <div class="infolist">
        <div class='flexbox flex_c_nowr'>
            <div>
                <img src="{{ user.photo.path if user.photo else '/static/images/none_image.png' }}" height="200px">
                <div class="flexbox flex_jcspacebetween_aicenter">
                    <h2>{{ user.name }} {{ user.surname }} - {{ 'Ученик ' if user.type == 3 }}
                        {{ 'Учитель' if user.type == 2 }}
                        {{ 'Администрация' if user.type == 1 }}</h2>
                    {% if bool_userbox and current_user.id == user.id %}
                    <a href="/edit_user/{{ user.id }}" class='link'>
                        <img src="/static/images/edit_icon1.png" height="18px">Редактировать</a>
                    {% endif %}
                </div>
                <h4>#id <span style='color: red'>{{ user.id }}</span></h4>
                <h5>Последний раз заходил на сайт: <span style='color: red'>{{ user.last_time_in }}</span></h5>
                <p>Возраст - {{ user.age }}</p>
                <p>Почта - {{ user.email }}</p>
            </div>
            {% if current_user.is_authenticated and current_user.id == user.id and user.photo %}
            <div>
                <a href="/del_user_photo/{{ user.id }}" class='link'><i>Удалить фотографию</i></a>
            </div>
            {% endif %}
            <br>
            {% if user.type <= 2 %}
            <div>
                <h4>Руководитель следующих факультативов: </h4>
                {% for group in groups %}
                    {% if group.leader_id == user.id %}
                        <a href="/group/{{ group.id }}" class="link">{{ group.name }}</a>{{ '; '}}
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <div>
                <h4>Участник следующих факультативов: </h4>
                {% for group in groups %}
                    <a href="/group/{{ group.id }}" class="link">{{ group.name }}</a>{{ ', ' if not loop.last }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% if bool_userbox %}
{% block userbox %}
    <h2>Инструменты</h2>
    {% if current_user.id == user.id %}
        <a href="/logout/" class='btn'>Выйти из профиля</a>
    {% endif%}
    {% if current_user.id == user.id or current_user.type <= 1 %}
        <a href="/del_user/{{ user.id }}" class='btn red-btn'>Удалить профиль</a>
    {% endif %}
{% endblock %}
{% endif %}